<!doctype html>
<html lang="en">

<head>
    <title>首頁</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/template.css">
</head>

<body>
    {% block main_content %}
    <div class="container " style="min-height:100vh">
        <!-- 標題 -->
        <div class="row  mt-md-5 mt-1 justify-content-center" >
           <div class=" d-flex col-3 justify-content-center text-center ">
               <img src="/static/images/home.png " style="height: 65px; " alt="logo "></span>
               <a class='text h1'>首頁</a>
           </div>
        </div>
  
       <!-- 中央顯示區域 -->
       <div class="row  middle-board  align-items-center justify-content-center mx-auto  m-3 "style="min-height:500px;max-width:800px" >
          <div class="d-flex align-items-center justify-content-center button mx-5" style="cursor: pointer; " onclick="window.location='/finish'">
               <img src="/static/images/finish.png " style="height:80px" >
               <h1>完成任務</h1>
          </div>
          <div class="d-flex align-items-center justify-content-center button" style="cursor: pointer; " onclick="window.location='/customers/'">
               <img src="/static/images/setting.png " style="height:80px">
               <h1>客戶管理</h1>
          </div>

            <div class="d-flex align-items-center justify-content-center button" style="cursor: pointer; " onclick="window.location='/delay'">
               <img src="/static/images/time.png " style="height:80px">
               <h1>延遲任務</h1>
            </div>
       </div>

       <!-- 按鈕列 -->
       <div class="row">
           <div class="col offset-md-11 offset-4 ">
               <div style="cursor: pointer; " onclick="window.location='/logout'" class="home p-1" >
                   <img src="/static/images/logout.png " height=35% width=35% alt="logout button ">
                   <h4>登出</h4>
               </div>
           </div>
       </div>
       <div class="row  mt-3 text-center"><a style="color: rgb(138, 132, 132);">Copyright © 2022 Iteration.</a></div>
   </div>
    {% endblock main_content %}
    <script>
    {% with messages=get_flashed_messages() %}
        {%if messages%}
            {%for msg in messages%}
                alert('{{msg}}');
            {%endfor%}
        {%endif%}
    {%endwith%}
    </script>

    {% block js_extend %}
     <script src='/static/js/ajax.js'></script>
    {% endblock js_extend %} 


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js " integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js " integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF " crossorigin="anonymous "></script>
</body>

</html>