{% extends 'base.html' %}
{% block main_content %}

    <div class="container " style="min-height:100vh">
        <!-- 標題 -->
        <div class="row  mt-md-5 mt-1 justify-content-center" >
            <div class=" d-flex col-3 justify-content-center text-center ">
                <img src="/static/images/time.png " style="height: 65px; " alt="logo "></span>
                <a class='text h1'>延遲</a>
            </div>
        </div>
        <!-- 中央顯示區域 -->
        <div class="row  middle-board justify-content-center pt-md-0 pt-4  mx-auto  m-3 "style="min-height:600px;max-width:800px;" >
            <form action="/delay/" method="post" class="row mt-md-4 mt-1  justify-content-center" style="max-height: 90px;">
                {{form.csrf_token()}}
                <div class="col-3 " style="max-height:38px;">
                    <div class="input-group mb-3">
                        {{form.key(class_='form-select',id='key')}}
                        {% if form.key.errors %}
                        <ul>
                            {% for error in form.key.errors %}
                                <li style='color:#FF0000!important'>{{error}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="col-5 " style="max-height:38px">
                    {{form.value(class_='form-control ',id='value',placeholder='輸入框')}}
                </div>
                {% if form.value.errors %}
                    <ul>
                        {% for error in form.value.errors %}
                            <li style='color:#FF0000!important'>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="row justify-content-center mt-md-4" style="max-height: 150px;" >
                    <div class="col-md-6 col-12">
                        {{form.state.label(class_='col-form-label')}}
                        {{form.state(class_='text-area text-center',id='state')}}
                    </div>
                    {% if form.state.errors %}
                    <ul>
                        {% for error in form.state.errors %}
                            <li style='color:#FF0000!important'>{{error}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="row justify-content-center mt-4 " style="max-height: 150px;" >
                <div class="col-md-6 col-12">
                    <div>
                        {{form.next_time.label(class_='col-form-label')}}
                        {{form.next_time(class_='form-control',placeholer='YYYY-mm')}}
                    </div>
                    {% if form.next_time.errors %}
                        <ul>
                            {% for error in form.next_time.errors %}
                                <li style='color:#FF0000!important'>{{error}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-6 col-12">
                        <div>
                            {{form.note.label(class_='col-form-label')}}
                            {{form.note(class_='form-control')}}
                        </div>
                        {% if form.note.errors %}
                            <ul>
                                {% for error in form.note.errors %}
                                    <li style='color:#FF0000!important'>{{error}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>

                <div class="row justify-content-center mt-3">
                    <div class="col-md-2 col-3">
                        {{form.submit(class_='btn btn-success')}}
                    </div>
                </div>
            </form>
        </div>
    </div>
          

    <!-- 按鈕 -->
    <div class="row  justify-content-center">
        <div class="col-md-1 col-4    ">
            <div style="cursor: pointer;  " onclick="window.location='/home'" class="home p-1" >
                <img src="/static/images/home.png " height=45% width=35% alt="logout button ">
                <h4>回首頁</h4>
            </div>
        </div>
        <div class="col-md-1 col-4 ms-md-5">
            <div style="cursor: pointer; " onclick="window.location='/logout'" class="home p-1" >
                <img src="/static/images/logout.png " height=45% width=40% alt="logout button ">
                <h4>登出</h4>
            </div>
        </div>

    <div class="row  mt-3 text-center"><a style="color: rgb(138, 132, 132);">Copyright © 2022 Iteration.</a></div>
    </div>
{% endblock main_content %}

