{% extends 'base.html' %}
{% block main_content %}
    <main>
        <div class=title>
            <img src="/static/images/finish.png" width=50px height="60px" alt="Setting button ">
            <h1>Finish<br>完成</h1>
        </div>
        <div style="cursor: pointer; " onclick="window.location='/';" class='home'>
            <img src="/static/images/home-2.png " height=25% width=25% alt="Setting button ">
            <h3>home<br>主頁面</h3>
        </div>
        <section class="middle ">
            <div class="left-board ">
                <div style="text-align:center;padding:0em 0;padding-left:8%;padding-right:8% ">
                    <div style="height:115px; " class='d-flex align-items-center text-center justify-content-around mt-4'>
                        <h1 id='hour' class='box'></h1>
                        <h1>:</h1>
                        <h1 id='minutes' class='box'></h1>
                        <h1>:</h1>
                        <h1 id='sec' class='box'></h1>
                    </div>
                </div>
                <div class="sfd-left-down-board ">
                    <ul>
                        <li>這是測試訊息</li>
                    </ul>
                </div>
            </div>

            <form action="/finish/" method="post">
                {{form.csrf_token()}}
                <div>
                    {{form.key.label(class_='h3')}}
                    {{form.key(class_='form-input',id='key')}}
                </div>
                {% if form.key.errors %}
                    <ul>
                        {% for error in form.key.errors %}
                            <li style='color:#FF0000!important'>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div>
                    {{form.value.label(class_='h3')}}
                    {{form.value(class_='form-input',id='value')}}
                </div>
                {% if form.value.errors %}
                    <ul>
                        {% for error in form.value.errors %}
                            <li style='color:#FF0000!important'>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div>
                    {{form.state.label(class_='h3 ')}}
                    {{form.state(class_='form-input',id='state')}}
                </div>
                {% if form.state.errors %}
                    <ul>
                        {% for error in form.state.errors %}
                            <li style='color:#FF0000!important'>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div>
                    {{form.component.label(class_='h3')}}
                    {{form.component(class_='form-input',multiple='multiple')}}
                </div>
                {% if form.component.errors %}
                    <ul>
                        {% for error in form.component.errors %}
                            <li style='color:#FF0000!important'>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div>
                    {{form.finish_time.label(class_='h3')}}
                    {{form.finish_time(class_='form-input')}}
                </div>
                {% if form.finish_time.errors %}
                    <ul>
                        {% for error in form.finish_time.errors %}
                            <li style='color:#FF0000!important'>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div>
                    {{form.next_time.label(class_='h3')}}
                    {{form.next_time(class_='form-input')}}
                </div>
                {% if form.next_time.errors %}
                    <ul>
                        {% for error in form.next_time.errors %}
                            <li style='color:#FF0000!important'>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div>
                    {{form.fee.label(class_='h3')}}
                    {{form.fee(class_='form-input')}}
                </div>
                {% if form.fee.errors %}
                    <ul>
                        {% for error in form.fee.errors %}
                            <li style='color:#FF0000!important'>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div>
                    {{form.note.label(class_='h3')}}
                    {{form.note(class_='form-input')}}
                </div>
                {% if form.note.errors %}
                    <ul>
                        {% for error in form.note.errors %}
                            <li style='color:#FF0000!important'>{{error}}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <div style="cursor: pointer; " class="setting-ok-button ">
                    {{form.submit(class_='h4',style='background-color:transparent;border:0;color:white')}}
                </div>
            </form> 

        </section>

    </main>
    <script>
        document.getElementById('state').disabled=true;
    </script>
{% endblock main_content %}
