{% extends 'base.html' %}
{% block main_content %}
<main>
        <div class='title'>
            <img src="/static/images/settings.png" width=50px height="60px" alt="Setting button ">
            <h1>Setting<br>設定</h1>
        </div>
        <div style="cursor: pointer; " onclick="window.location='/' ; " class='home'>
            <img src="/static/images/home-2.png " height=25% width=25% alt="Setting button ">
            <h3>home<br>主頁面</h3>
        </div>
        <section class="middle ">
            <div class="left-board ">
                <div style="text-align:center;padding:0em 0;padding-left:8%;padding-right:8% ">
                    <div style="height:115px; " class='d-flex align-items-center text-center justify-content-around mt-4'>
                        <h1 id='hour' class='box'></h1>
                        <h1>:</h1>
                        <h1 id='minutes' class='box'></h1>
                        <h1>:</h1>
                        <h1 id='sec' class='box'></h1>
                    </div>
                </div>
                <div class="sfd-left-down-board ">
                    <ul>
                        {% for i in settings['user-id'] %}
                        <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <form action="/settings/" method="post" >
                {{form.csrf_token()}}
                <div class="setting-button1 setting-button-box">
                    {{form.component1.label(class_="setting-text")}}
                    {{form.component1(class_="form-input setting-select",value=settings['component-lifetime']['A'])}}
                </div>

                <div class="setting-button2 setting-button-box">
                    {{form.component2.label(class_="setting-text")}}
                    {{form.component2(class_="form-input setting-select",value=settings['component-lifetime']['B'])}}
                </div>
                
                <div class="setting-button3 setting-button-box">
                    {{form.component3.label(class_="setting-text")}}
                    {{form.component3(class_="form-input setting-select",value=settings['component-lifetime']['C'])}}
                </div>
                
                <div class="setting-button4 setting-button-box">
                    {{form.component4.label(class_="setting-text")}}
                    {{form.component4(class_="form-input setting-select",value=settings['component-lifetime']['D'])}}
                </div>

                <div class="setting-button5 setting-button-box">
                    {{form.component5.label(class_="setting-text")}}
                    {{form.component5(class_="form-input setting-select",value=settings['component-lifetime']['E'])}}
                </div>
                
                <div class="setting-button6 setting-button-box">
                    {{form.component6.label(class_="setting-text")}}
                    {{form.component6(class_="form-input setting-select",value=settings['component-lifetime']['F'])}}
                </div>

                <div style="cursor: pointer; " onclick="window.location='/settings/customer_data' ; " class="setting-user-button ">
                    <h4>客戶中心</h4>
                </div>
                <div style="cursor: pointer; " onclick="window.location='https:google.com/' ; " class="setting-ok-button ">
                    {{form.submit(value="確認",class_='h4',style='background-color:transparent;border:0;color:white')}}
                </div>
            </form>
    </section>
</main>
{% endblock main_content %}