{% extends 'base.html' %}
{% block main_content %}
<div class="container " style="min-height:100vh">
    <!-- 標題 -->
    <div class="row  mt-md-5 mt-1 justify-content-center" >
        <div class=" d-flex col-3 justify-content-center text-center ">
            <img src="/static/images/setting.png " style="height: 65px; " alt="logo "></span>
            <a class='text h1'>管理</a>
        </div>
    </div>
    <!-- 中央顯示區域 -->
    <div class="row  middle-board justify-content-center pt-3 mx-auto  m-3 "style="min-height:500px;max-width:800px;" >
        <!-- 搜尋列 -->
        <div class="row mt-md-4 mt-1  justify-content-center">
            <div class="col-3 " style="max-height:38px;">
                <div class="input-group mb-3">
                    <select class="form-select" id="type">
                        <option value="_id">id</option>
                        <option value="name">name</option>
                        <option value="phone">phone</option>
                        <option value="telephone">telephone</option>
                    </select>
                </div>
            </div>

            <div class="col-5 " style="max-height:38px">
                <input type="text" class="form-control" placeholder="輸入框" aria-label="Username" aria-describedby="basic-addon1" id="value">
            </div>

            <div class="col-2 " style="max-height:38px">
                <button class="btn btn-primary" type="button" onclick="search();">搜尋</button>
            </div>

            <div class="col-2 " style="max-height:38px">
                <!-- 新增彈窗 -->

                {% if form %}
                <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" style="color:white;">新增</button>
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">新增客戶</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form action="/customers/" method="post">
                                    {{form.csrf_token()}}
                                    <div class="mb-3">
                                        {{form.name.label(class_='col-form-label')}}
                                        {{form.name(class_='form-control')}}
                                    </div>
                                    {% if form.name.errors %}
                                    <ul>
                                        {% for error in form.name.errors %}
                                            <li style='color:#FF0000!important'>{{error}}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}

                                    <div class="mb-3">
                                        {{form.address.label(class_='col-form-label')}}
                                        {{form.address(class_='form-control',placeholder='地址')}}
                                    </div>
                                    {% if form.address.errors %}
                                    <ul>
                                        {% for error in form.address.errors %}
                                            <li style='color:#FF0000!important'>{{error}}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    
                                    <div class="mb-3">
                                        {{form.phone.label(class_='col-form-label')}}
                                        {{form.phone(class_='form-control',placeholder='電話')}}
                                    </div>
                                    {% if form.phone.errors %}
                                    <ul>
                                        {% for error in form.phone.errors %}
                                            <li style='color:#FF0000!important'>{{error}}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}

                                    <div class="mb-3">
                                        {{form.telephone.label(class_='col-form-label')}}
                                        {{form.telephone(class_='form-control',placeholder='電話2')}}
                                    </div>
                                    {% if form.telephone.errors %}
                                    <ul>
                                        {% for error in form.telephone.errors %}
                                            <li style='color:#FF0000!important'>{{error}}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}

                                    <div class="mb-3">
                                        {{form.machine.label(class_='col-form-label')}}
                                        {{form.machine(class_='form-control')}}
                                    </div>
                                    {% if form.machine.errors %}
                                    <ul>
                                        {% for error in form.machine.errors %}
                                            <li style='color:#FF0000!important'>{{error}}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}

                                    <div class="mb-3">
                                        {{form.next_time.label(class_='col-form-label')}}
                                        {{form.next_time(class_='form-control',placeholder='YYYY-mm')}}
                                    </div>
                                    {% if form.next_time.errors %}
                                    <ul>
                                        {% for error in form.next_time.errors %}
                                            <li style='color:#FF0000!important'>{{error}}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}

                                    <div class="mb-3">
                                        {{form.note.label(class_='col-form-label')}}
                                        {{form.note(class_='form-control')}}
                                    </div>
                                    {% if form.note.errors %}
                                    <ul>
                                        {% for error in form.note.errors %}
                                            <li style='color:#FF0000!important'>{{error}}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                                        {{form.submit(class_='btn btm-primary')}}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col overflow mt-md-0 mt-4" style="height: 500px;">
                <div class="setting-user-table" >
                    <table class="table align-content-center">
                        <thead>
                            <tr>
                                <th scope="col">_id</th>
                                <th scope="col">客戶名稱</th>
                                <th scope="col">刪除鈕</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results%}
                            <tr>
                                <td>{{result['_id']}}</td>
                                <td><a href='/customers/{{result['_id']}}/'>{{result['name']}}</a></td>
                                <td>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{result['_id']}}">刪除</button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal{{result['_id']}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">確認刪除？</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="fw-bold">請注意！刪除後將無法復原！</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                                    <button type="button" class="btn btn-danger" onclick="location.href='/customers/{{result['_id']}}/delete/'">確認刪除</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


<!-- 按鈕 -->
        <div class="col-md-2 col-5 ms-md-5 ms-4 mt-md-0 mt-2 mb-2">
            <button onclick="location.href='/customers/this_month/'" class="btn btn-secondary">本月</button>
            <button onclick="location.href='/customers/next_month/'" class="btn btn-secondary">下月</button>
        </div>

        <div class="row  justify-content-center">
            <div class="col-md-1 col-4 offset-md-2    ">
                <div style="cursor: pointer;  " onclick="window.location='/home'" class="home p-1" >
                    <img src="/static/images/home.png " height=45% width=35% alt="logout button ">
                    <h4>回首頁</h4>
                </div>
            </div>
            <div class="col-md-1 col-4 ms-md-5">
                <div style="cursor: pointer; " onclick="window.location='/logout'" class="home p-1" >
                    <img src="/static/images/logout.png " height=45% width=40% alt="logout button ">
                    <h4>登出</h4>
                </div>
            </div>
    </div>
    <div class="row  mt-3 text-center"><a style="color: rgb(138, 132, 132);">Copyright © 2022 Iteration.</a>
    </div>
</div>
{% endblock main_content %}

{% block js_extend %}
    <script>
        function search(){
            type=document.getElementById('type').value;
            value=document.getElementById('value').value;
            console.log(type);
            console.log(value);
            location.href='/customers/?key='+type+'&value='+value;
        }
    </script>
{% endblock js_extend %}






