{% extends 'base.html' %}
{% block main_content %}
<main>
        <div class=title>
            <img src="/static/images/settings.png" width=50px height="60px" alt="Setting button ">
            <h1>Setting<br>設定</h1>
        </div>
        <div style="cursor: pointer; " onclick="window.location='/' ; " class=home>
            <img src="/static/images/home-2.png " height=25% width=25% alt="Setting button ">
            <h3>home<br>主頁面</h3>
        </div>
        <section class="middle ">
            <div class="left-board ">
                <div style="text-align:center;padding:0em 0;padding-left:8%;padding-right:8% ">
                    <div style="height:115px; " class='d-flex align-items-center text-center justify-content-around mt-4'>
                        <h1 id='hour' class='box'></h1>
                        <h1>:</h1>
                        <h1 id='minutes' class='box'></h1>
                        <h1>:</h1>
                        <h1 id='sec' class='box'></h1>
                    </div>
                </div>
                <div class="sfd-left-down-board ">
                    <ul>
                        {% for i in user['user-id'] %}
                        <li>{{i}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="setting-button1 setting-button-box ">
                <h2 class="setting-text">部件名稱測試</h2>
                <select class="form-select  setting-select " aria-label="Default select example ">
                    <option selected value="1 ">30天</option>
                    <option value="2 ">60天</option>
                    <option value="3 ">90天</option>
                    <option value="4 ">120天</option>
                    <option value="5 ">150天</option>
                    <option value="6 ">180天</option>
                    <option value="7 ">210天</option>
                    <option value="8 ">240天</option>
                    <option value="9 ">270天</option>
                    <option value="10 ">300天</option>
                    <option value="11 ">330天</option>
                  </select>
            </div>

            <div class="setting-button6 setting-button-box-1 ">
                <h2 class="setting-text">提醒時間</h2>
                <select class="form-select  setting-select " aria-label="Default select example ">
                    <option selected value="1 ">30天</option>
                    <option value="2 ">60天</option>
                  </select>
            </div>
            <div class="setting-button7 setting-button-box-1 ">
                <h2 class="setting-text">提前天數</h2>
                <select class="form-select  setting-select " aria-label="Default select example ">
                    <option selected value="1 ">30天</option>
                    <option value="2 ">60天</option>
                  </select>
            </div>
            <div style="cursor: pointer; " onclick="window.location='/settings/customer_data' ; " class="setting-user-button ">
                <h4>客戶中心</h4>
            </div>
            <div style="cursor: pointer; " onclick="window.location='https:google.com/' ; " class="setting-ok-button ">
                <h3>確認</h3>
            </div>
    </section>
</main>
{% endblock main_content %}