{% extends 'base.html' %}
{% block main_content %}
    <main>
        <div class='title'>
            <img src="/static/images/setting.png" width=50px height="60px" alt="Setting button ">
            <h1>User<br>用戶</h1>
        </div>
        <div style="cursor: pointer; " onclick="window.location='/' ; " class='home'>
            <img src="/static/images/home-2.png " height=25% width=25% alt="Setting button ">
            <h3>home<br>主頁面</h3>
        </div>
        <section class="middle ">
            <div class="left-board ">
                <div style="text-align:center;padding:0em 0;padding-left:8%;padding-right:8% ">
                    <div style="height:115px; " class='d-flex align-items-center text-center justify-content-around mt-4'>
                        <h1 id='hour' class='box'></h1>
                        <h1>:</h1>
                        <h1 id='minutes' class='box'></h1>
                        <h1>:</h1>
                        <h1 id='sec' class='box'></h1>
                    </div>
                </div>
                <div class="sfd-left-down-board ">
                    <ul>
                        <li>這是linebot綁定用戶</li>
                    </ul>
                </div>
            </div>
            <button type="button" class="btn btn-primary add-button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">新增客戶</button>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">新增客戶</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">姓名</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">手機號碼</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">地址</label>
                                    <input type="text" class="form-control" id="recipient-name">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">部件</label>
                                    <input type="date" class="form-control" name="trip-start" value="2022-02-11" min="2022-01-01" max="2100-12-31">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">部件</label>
                                    <input type="date" class="form-control" name="trip-start" value="2022-02-11" min="2022-01-01" max="2100-12-31">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">部件</label>
                                    <input type="date" class="form-control" name="trip-start" value="2022-02-11" min="2022-01-01" max="2100-12-31">
                                </div>
                                <div class="mb-3">
                                    <label for="recipient-name" class="col-form-label">部件</label>
                                    <input type="date" class="form-control" name="trip-start" value="2022-02-11" min="2022-01-01" max="2100-12-31">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary">確認新增</button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="setting-user-table">

                <table class="table align-content-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">客戶名稱</th>
                            <th scope="col">刪除鈕</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>我是第一個人</td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                                     刪除
                                 </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">確認刪除？</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="fw-bold">請注意！刪除後將無法復原！</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消
                                                </button>
                                                <button type="button" class="btn btn-danger">確認刪除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

    </main>

    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function() {
            myInput.focus()
        })
    </script>
{% endblock main_content %}